body {
    font-family: Arial, sans-serif;
    background-image: url("UWA\'s\ Logo.png");
    background-size: cover;      
    background-repeat: no-repeat;  
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    color: #000000;
}

h2 {
    margin-bottom: 20px;
    color: rgb(1, 1, 1);
}

.form-box {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
